In [ ]:
import pandas as pd
import oracledb
from datetime import datetime

df = pd.read_csv("C:/Users/itbank/OneDrive/바탕 화면/csv/블록별 성별연령대별 카드소비패턴.csv")

# 컬럼명 DB용으로 변경
df.rename(columns={
    '서울시민업종코드(UPJONG_CD)': 'upjong_cd',
    '기준년월(YM)': 'ym',
    '고객주소블록코드(BLOCK_CD)': 'block_cd',
    '성별(GEDNER)': 'gender',
    '카드이용금액계(AMT_CORR)': 'amt_corr',
    '카드이용건수계(USECT_CORR)': 'usect_corr'
}, inplace=True)

# ym 컬럼은 'YYYYMM' 문자열 → datetime 변환 (월 첫째날 기준)
def ym_to_date(ym_str):
    return datetime.strptime(str(ym_str), '%Y%m')

df['ym'] = df['ym'].apply(ym_to_date)

# id 컬럼 없으면 인덱스 기반으로 생성 (1부터 시작)
if 'id' not in df.columns:
    df.insert(0, 'id', range(1, len(df) + 1))
    
conn = oracledb.connect(
    user="moa",
    password="moa",
    dsn="localhost:1521/XE"
)

cursor = conn.cursor()

# Insert 쿼리
sql = """
INSERT INTO gender_stats (
    id, upjong_cd, ym, block_cd, gender, amt_corr, usect_corr
) VALUES (
    :1, :2, :3, :4, :5, :6, :7
)
"""

# 데이터 리스트 생성
data = [
    (
        row['id'],
        row['upjong_cd'],
        row['ym'],
        row['block_cd'],
        row['gender'],
        row['amt_corr'],
        row['usect_corr']
    )
    for _, row in df.iterrows()
]

# 데이터 삽입 실행
cursor.executemany(sql, data)

conn.commit()
cursor.close()
conn.close()

In [ ]:
import pandas as pd
import oracledb
from datetime import datetime

df = pd.read_csv("C:/Users/itbank/OneDrive/바탕 화면/csv/블록별 성별연령대별 카드소비패턴.csv")

# 컬럼명 DB용으로 변경
df.rename(columns={
    '서울시민업종코드(UPJONG_CD)': 'upjong_cd',
    '기준년월(YM)': 'ym',
    '고객주소블록코드(BLOCK_CD)': 'block_cd',
    '연령대별(AGE)': 'age',
    '카드이용금액계(AMT_CORR)': 'amt_corr',
    '카드이용건수계(USECT_CORR)': 'usect_corr'
}, inplace=True)

# ym 컬럼은 'YYYYMM' 문자열 → datetime 변환 (월 첫째날 기준)
def ym_to_date(ym_str):
    return datetime.strptime(str(ym_str), '%Y%m')

df['ym'] = df['ym'].apply(ym_to_date)

# id 컬럼 없으면 인덱스 기반으로 생성 (1부터 시작)
if 'id' not in df.columns:
    df.insert(0, 'id', range(1, len(df) + 1))
    
conn = oracledb.connect(
    user="moa",
    password="moa",
    dsn="localhost:1521/XE"
)

cursor = conn.cursor()

# Insert 쿼리
sql = """
INSERT INTO age_stats (
    id, upjong_cd, ym, block_cd, age, amt_corr, usect_corr
) VALUES (
    :1, :2, :3, :4, :5, :6, :7
)
"""

# 데이터 리스트 생성
data = [
    (
        row['id'],
        row['upjong_cd'],
        row['ym'],
        row['block_cd'],
        row['age'],
        row['amt_corr'],
        row['usect_corr']
    )
    for _, row in df.iterrows()
]

# 데이터 삽입 실행
cursor.executemany(sql, data)

conn.commit()
cursor.close()
conn.close()

In [6]:
import pandas as pd
import oracledb
from datetime import datetime

# CSV 읽기
df = pd.read_csv("C:/Users/itbank/OneDrive/바탕 화면/csv/블록별 시간대별소액결제건수 카드소비패턴.csv")

# 컬럼명 변경 (DB 컬럼명에 맞게)
df.rename(columns={
    '서울시민업종코드(UPJONG_CD)': 'upjong_cd',
    '기준년월(YM)': 'ym',
    '시간대구간(TIME)': 'time_slot',
    '고객주소블록코드(BLOCK_CD)': 'block_cd',
    '카드이용금액계(AMT_CORR)': 'amt_corr',
    '소액결제건수(MICRO_PYM)': 'micro_pym'
}, inplace=True)

# 'ym' 컬럼: 'YYYYMM' → datetime(월 첫날 기준) 변환
def ym_to_date(ym_str):
    return datetime.strptime(str(ym_str), '%Y%m')

df['ym'] = df['ym'].apply(ym_to_date)

# id 컬럼 없으면 생성 (1부터 시작)
if 'id' not in df.columns:
    df.insert(0, 'id', range(1, len(df) + 1))

# Oracle DB 연결 정보 수정 필요
conn = oracledb.connect(
    user="moa",
    password="moa",
    dsn="localhost:1521/XE"
)
cursor = conn.cursor()

# Insert SQL (micro_payment_stats 테이블 컬럼에 맞게)
sql = """
INSERT INTO micro_payment_stats (
    id, upjong_cd, ym, time_slot, block_cd, amt_corr, micro_pym
) VALUES (
    :1, :2, :3, :4, :5, :6, :7
)
"""

# 데이터 튜플 리스트 생성
data = [
    (
        row['id'],
        row['upjong_cd'],
        row['ym'],
        row['time_slot'],
        row['block_cd'],
        row['amt_corr'],
        row['micro_pym']
    )
    for _, row in df.iterrows()
]

cursor.executemany(sql, data)

conn.commit()
cursor.close()
conn.close()

In [ ]:
import pandas as pd
import oracledb
from datetime import datetime

# CSV 읽기 (처음부터 tot_reg_cd 문자열로 읽어도 되고, 읽은 후 변환해도 됨)
df = pd.read_csv("C:/Users/itbank/OneDrive/바탕 화면/csv/집계구별 일별소비지역별 카드소비패턴.csv")

# 컬럼명 변경 (DB 컬럼명에 맞게)
df.rename(columns={
    '가맹점주소광역시도(SIDO)': 'sido',
    '가맹점주소시군구(SGG)': 'sgg',
    '업종대분류(UPJONG_CLASS1)': 'upjong_class1',
    '기준일자(YMD)': 'ymd',
    '고객주소집계구별(TOT_REG_CD)': 'tot_reg_cd',
    '카드이용금액계(AMT_CORR)': 'amt_corr',
    '카드이용건수계(USECT_CORR)': 'usect_corr'
}, inplace=True)

# 날짜 변환
def ymd_to_date(ymd_str):
    return datetime.strptime(str(ymd_str), '%Y%m%d')

df['ymd'] = df['ymd'].apply(ymd_to_date)

# id 컬럼 생성 (없으면)
if 'id' not in df.columns:
    df.insert(0, 'id', range(1, len(df) + 1))

# 문자열 컬럼들 (DB에서 VARCHAR2 타입 컬럼)
str_cols = ['sido', 'sgg', 'upjong_class1', 'tot_reg_cd']

# 문자열 컬럼들을 문자열(str)로 강제 변환 (NaN/None은 빈 문자열로)
def to_str_safe(val):
    if val is None or (isinstance(val, float) and pd.isna(val)):
        return ''
    if isinstance(val, float):
        # float인 경우 정수로 바꿔서 문자열로 변환
        return str(int(val))
    return str(val)

for col in str_cols:
    df[col] = df[col].apply(to_str_safe)

# DB 연결
conn = oracledb.connect(
    user="moa",
    password="moa",
    dsn="localhost:1521/XE"
)
cursor = conn.cursor()

# Insert SQL
sql = """
INSERT INTO region_stats (
    id, sido, sgg, upjong_class1, ymd, tot_reg_cd, amt_corr, usect_corr
) VALUES (
    :1, :2, :3, :4, :5, :6, :7, :8
)
"""

# 데이터 준비
data = [
    (
        row['id'],
        row['sido'],
        row['sgg'],
        row['upjong_class1'],
        row['ymd'],
        row['tot_reg_cd'],
        row['amt_corr'],
        row['usect_corr']
    )
    for _, row in df.iterrows()
]

# 실행
cursor.executemany(sql, data)

conn.commit()
cursor.close()
conn.close()

In [43]:
import pandas as pd
import oracledb
from datetime import datetime
import glob
import math

# 1) CSV 여러 개 경로 리스트 가져오기
csv_files = glob.glob('C:/Users/itbank/OneDrive/바탕 화면/csv/*.csv')[:4]

# 파일 경로 확인 (선택사항)
print("사용 중인 CSV 파일들:")
for f in csv_files:
    print(f)

# 2) 여러 CSV 파일 읽어서 하나의 DataFrame으로 합치기
df_list = []
for file in csv_files:
    df = pd.read_csv(file)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)
print("병합된 행 수:", len(df))

# 한글 컬럼명을 DB 컬럼명으로 변경
rename_map = {
    '서울시민업종코드(UPJONG_CD)': 'upjong_cd',
    '업종 대분류': 'upjong_class1',
    '기준년월(YM)': 'ym',
    '기준일자(YYYYMMDD)(YMD)': 'ymd',
    '고객주소블록코드(BLOCK_CD)': 'block_cd',
    '고객 주소 집계구 코드(TOT_REG_CD)': 'tot_reg_cd',
    '성별(GENDER)': 'gender',
    '연령대별(AGE)': 'age',
    '시간대구간(TIME_SLOT)': 'time_slot',
    '가맹점 광역시도(SIDO)': 'sido',
    '가맹점 시군구(SGG)': 'sgg',
    '카드이용금액계(AMT_CORR)': 'amt_corr',
    '카드이용건수계(USECT_CORR)': 'usect_corr',
    '소액결제건수(MICRO_PYM)': 'micro_pym'
}

df.rename(columns=rename_map, inplace=True)

# 날짜형 컬럼 변환
def to_date(val, fmt):
    try:
        return datetime.strptime(str(int(val)), fmt)
    except:
        return None

if 'ym' in df.columns:
    df['ym'] = df['ym'].apply(lambda x: to_date(x, '%Y%m'))

if 'ymd' in df.columns:
    df['ymd'] = df['ymd'].apply(lambda x: to_date(x, '%Y%m%d'))

# id 컬럼 없으면 생성
if 'id' not in df.columns:
    df.insert(0, 'id', range(1, len(df) + 1))

# 문자열 컬럼 (VARCHAR2)
varchar_cols = [
    'upjong_cd', 'upjong_class1', 'block_cd', 'tot_reg_cd',
    'gender', 'age', 'time_slot', 'sido', 'sgg'
]

def safe_str(val):
    if pd.isna(val) or val is None:
        return ''
    if isinstance(val, float):
        return str(int(val))
    return str(val)

for col in varchar_cols:
    if col in df.columns:
        df[col] = df[col].apply(safe_str)

# 숫자 컬럼 (NUMBER)
num_cols = ['amt_corr', 'usect_corr', 'micro_pym']

def safe_num(val):
    try:
        if pd.isna(val) or val is None:
            return None
        if isinstance(val, float) and math.isnan(val):
            return None
        return float(val)
    except:
        return None

for col in num_cols:
    if col in df.columns:
        df[col] = df[col].apply(safe_num)

# DB 연결
conn = oracledb.connect(
    user="moa",
    password="moa",
    dsn="localhost:1521/XE"
)
cursor = conn.cursor()

# DB 컬럼 순서
db_columns = [
    'id', 'upjong_cd', 'upjong_class1', 'ym', 'ymd', 'block_cd', 'tot_reg_cd',
    'gender', 'age', 'time_slot', 'sido', 'sgg', 'amt_corr', 'usect_corr', 'micro_pym'
]

# 데이터 준비
data = []
for _, row in df.iterrows():
    row_data = []
    for col in db_columns:
        val = row[col] if col in row else None
        # NaN이 있을 경우 None으로 변환
        if isinstance(val, float) and math.isnan(val):
            val = None
        row_data.append(val)
    data.append(tuple(row_data))

# 확인
print("첫 insert row:", data[0])

# INSERT 실행
columns_sql = ', '.join(db_columns)
values_sql = ', '.join(f':{i+1}' for i in range(len(db_columns)))
sql = f"INSERT INTO amount_stats ({columns_sql}) VALUES ({values_sql})"

cursor.executemany(sql, data)
conn.commit()
cursor.close()
conn.close()

사용 중인 CSV 파일들:
C:/Users/itbank/OneDrive/바탕 화면/csv\블록별 성별연령대별 카드소비패턴.csv
C:/Users/itbank/OneDrive/바탕 화면/csv\블록별 시간대별소액결제건수 카드소비패턴.csv
C:/Users/itbank/OneDrive/바탕 화면/csv\집계구별 일별소비지역별 카드소비패턴.csv
C:/Users/itbank/OneDrive/바탕 화면/csv\집계구별 일별시간대별 카드소비패턴.csv
병합된 행 수: 2000
첫 insert row: (1, 'SS013', None, Timestamp('2019-06-01 00:00:00'), None, '14037', None, None, '50대', None, None, None, 48288.0, 65.0, None)

In [44]:
import pandas as pd
import oracledb

# CSV 불러오기
df = pd.read_csv("C:/Users/itbank/OneDrive/바탕 화면/csv/카드소비 업종코드.csv")

# 컬럼명 변경
df.rename(columns={
    '업종코드(UPJONG_CD)': 'upjong_cd',
    '대분류(CLASS1)': 'class1',
    '중분류(CLASS2)': 'class2',
    '소분류(CLASS3)': 'class3'
}, inplace=True)

# Oracle 연결
conn = oracledb.connect(
    user="moa",
    password="moa",
    dsn="localhost:1521/XE"
)
cursor = conn.cursor()

# INSERT
sql = """
INSERT INTO industry_codes (upjong_cd, class1, class2, class3)
VALUES (:1, :2, :3, :4)
"""
data = df[['upjong_cd', 'class1', 'class2', 'class3']].values.tolist()

cursor.executemany(sql, data)
conn.commit()
cursor.close()
conn.close()